:root {
  
/*Basic colors*/
--light-red: hsl(0, 100%, 67%);
--orangey-yellow: hsl(39, 100%, 56%);
--green-teal: hsl(166, 100%, 37%);
--cobalt-blue: hsl(234, 85%, 45%);

/*Gradients*/

    /*Top of container*/
--light-slate-blue: hsl(252, 100%, 67%);
--light-royal-blue: hsl(241, 81%, 54%);
  
    /*Circle colors*/
--persian-blue: hsla(241, 72%, 46%, 0);
--violet-blue: hsla(256, 72%, 46%, 1);

/*Neutrals*/
--white: hsl(0, 0%, 100%);
--pale-blue: hsl(221, 100%, 96%);
--light-lavender: hsl(241, 100%, 89%);
--dark-gray-blue: hsl(224, 30%, 27%);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.card-container {
  width: 24rem;
  height: 52rem;
  margin: 0 auto;
  border: 1px solid white;
  background-color: white;
  z-index: 1;
}

.card-upper {
  background: linear-gradient(to bottom, hsl(252, 100%, 67%) 0%, hsl(241, 81%, 54%) 100%);
  display: flex;
  flex-direction: column;
  margin: auto auto;
  height: 24rem;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  z-index: 3;
}

.card-lower {
  height: 2rem;
  z-index: 2;
  }
